/* paginas */
.paginas {
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
  font-size: 30px;
}

.paginas a {
  color: gray;
}


/* cards */
.cards-i img {
  width: 400px;
  height: 480px;
  border-radius: 40px;
}

.cards-i {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 115px;
}

.duda {
  box-shadow: 0 2px 9px 2px #7f7f7e;
  border-radius: 40px;
  display: flex;
  flex-direction: column;

  p {
    padding: 12px 0px 40px 10px;
    font-weight: 600;
    font-size: 22px;
  }
}

.gu {
  box-shadow: 0 2px 9px 2px #7f7f7e;
  border-radius: 40px;
  display: flex;
  flex-direction: column;

  p {
    padding: 12px 0px 40px 10px;
    font-weight: 600;
    font-size: 22px;
  }

  a {
    padding: 3px 10px;
    margin: 0 0 20px 20px;
    border: solid 2px #00a1fc;
    border-radius: 10px;
    width: fit-content;
    color: #00a1fc;
  }

}

.vi {
  box-shadow: 0 2px 9px 2px #7f7f7e;
  border-radius: 40px;
  display: flex;
  flex-direction: column;

  p {
    padding: 12px 0px 40px 10px;
    font-weight: 600;
    font-size: 22px;
  }

  a {
    padding: 3px 10px;
    margin: 0 0 20px 20px;
    border: solid 2px #00a1fc;
    border-radius: 10px;
    width: fit-content;
    color: #00a1fc;
  }
}


/* Responsivo */

/* Smartphones */
@media (max-width: 900px) {
  .cards-i {
    display: flex;
    flex-direction: column;
    padding: 10px;

    img {
      width: 370px;
    }
  }

}

/* Tablets */
@media (min-width: 650px) and (max-width: 1024px) {
  .cards-i {
    display: flex;
    flex-direction: column;
    padding: 150px;

    img {
      width: 470px;
    }
  }
}

/* Desktops e outros */
@media (min-width: 1025px) {
  .cards-i {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 50px;

    img {
      width: 380px;
    }
  }
}