*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a1fc;

}


.container-l{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin:150px;
    padding: 2rem;
    border-radius: 2rem;
    height: 200px;
    text-align: center;
    width: 300px;
    form{
        display:flex ;
        flex-direction: column;
        gap: 20px;

        input{
            border: none;
            outline: none;
            border-bottom: 1px solid gray;
        }
        button{
            padding: 10px;
            background-color: rgb(180, 178, 178);
            border: none;
            border-radius: 10px;
            color: rgb(3, 10, 62);;
        }

        
    }
    .title, a{
        color: rgb(3, 10, 62);;
    }
    p{
        margin-top: 10px;
        font-size: small;
        color: rgb(3, 10, 62);;
    }
    
}


footer{
    margin-top: 300px;
}