/* paginas */
.paginas {
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
  font-size: 30px;
}

.paginas a {
  color: gray;
}

.lista {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding: 0px 0px 100px 0px;
  font-size: 25px;
}

.lista h1 {
  color: black;
  font-size: 50px;
  font-weight: bold;
  padding: 0 0 0 20px;
}


/* Responsivo */

/* Smartphones */
@media (max-width: 900px) {
  .lista-s {
    margin: 10px;

    h1 {
      font-size: 25px;
    }

    p {
      margin: 5px;
      font-size: 15px;
    }
  }
}

/* Tablets */
@media (min-width: 650px) and (max-width: 1024px) {
  .lista-s {
    margin: 10px;

    h1 {
      margin: 15px;
      font-size: 40px;
    }

    p {
      margin: 15px;
      font-size: 30px;
    }
  }
}

/* Desktops e outros */
@media (min-width: 1025px) {
  .lista-s {
    margin: 20px;

    h1 {
      margin: 15px;
      font-size: 40px;
    }

    p {
      margin: 15px;
      font-size: 30px;
    }
  }
}