/*inicio */
.inicio {
  margin: 20px;

  img {
    width: 300px;
  }

  h1 {
    color: #00a1fc;
    font-size: 70px;
  }
}

/* cabecalho  */
.cabecalho {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  color: white;
  background-color: #00a1fc;
  padding: 20px 20px;
  font-size: 15px;
  flex-direction: column;

  ::marker {
    color: #00a1fc;
  }

  h1 {
    padding: 10px;
  }
}

/* imagens inicio */

/* cards */
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px;
}

.medidas-preventivas {
  box-shadow: 0 2px 9px 2px #7f7f7e;
  border-radius: 40px;
  display: flex;
  flex-direction: column;

  p {
    padding: 35px 0px 40px 10px;
    font-weight: 600;
    font-size: 22px;
  }

  a {
    padding: 3px 10px;
    margin: 0 0 20px 20px;
    border: solid 2px #00a1fc;
    border-radius: 10px;
    width: fit-content;
    color: #00a1fc;
  }
}

.assistente-virtual {
  box-shadow: 0 2px 9px 2px #7f7f7e;
  border-radius: 40px;
  display: flex;
  flex-direction: column;

  p {
    padding: 5px 0px 40px 10px;
    font-weight: 600;
    font-size: 22px;
  }

  a {
    padding: 3px 10px;
    margin: 0 0 20px 20px;
    border: solid 2px #00a1fc;
    border-radius: 10px;
    width: fit-content;
    color: #00a1fc;
  }

}

/* participantes */
.participantes {
  display: flex;
  justify-content: end;
  margin: 20px;
}


/* Responsivo */

/* Smartphones */
@media (max-width: 900px) {
  .inicio {
    h1 {
      font-size: 50px;
    }

    img {
      width: 250px;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .assistente-virtual {
    border-radius: 80px;

    p {
      margin: 10px;
      font-size: 30px;
    }

    a {
      border-radius: 30px;
      font-size: 40px;
    }
  }

  .medidas-preventivas {
    border-radius: 80px;

    p {
      margin: 10px;
      font-size: 30px;
    }

    a {
      border-radius: 30px;
      font-size: 40px;
    }
  }

}

/* Tablets */
@media (min-width: 650px) and (max-width: 1024px) {
  .inicio {
    h1 {
      font-size: 75px;
    }

    img {
      width: 350px;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
}

/* Desktops e outros */
@media (min-width: 1025px) {
  .cards {
    padding: 50px;
  }
}