* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

/* paginas */



.paginas {
    display: flex;
    justify-content: flex-start;
    margin: 30px;
    margin-left: 60px;
    font-size: 30px;
}

.paginas a {
    color: gray;
}

/* conteudo */
.conteudo {
    padding: 10px 10px 0 0;
    font-size: 25px;
    color: #000000;
    margin: 10px 60px;
}


/* Responsivo */

/* Smartphones */
@media (max-width: 900px){
    .conteudo{
        margin: 10px;

        h1 {
          font-size: 30px;
        }
    
        p {
          margin: 5px;
          font-size: 15px;
        }
    }
}

/* Tablets */
@media (min-width: 650px) and (max-width: 1024px){
    .conteudo{
        margin: 10px;

        h1 {
          font-size: 50px;
        }
    
        p {
          margin: 5px;
          font-size: 25px;
        }
    }

}

/* Desktops e outros */
@media (min-width: 1025px){

}