* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
  }

/* paginas */



.paginas{
    display: flex;
    justify-content: flex-start;
    margin: 30px;
    margin-left: 60px;
    font-size: 30px;
}

.paginas a{
    color: gray;
}
/* conteudo */
.conteudo{
    padding: 10px 10px 0 0;
    font-size: 25px;
    color: #000000;
    margin: 10px 60px;
}


/* rodape */
footer{
    margin-top: 200px;
}